name: Benchmark
on:
  workflow_dispatch:
jobs:
  debug-shell:
    name: "Open debug shell to inspect the disk usage"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this action
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          path: ./.github/actions/this
      - name: Run this action
        uses: ./.github/actions/this
